* {
    border: none;
}

body {
    background-size: cover;
    background: url(../images/travel.jpg) no-repeat fixed;
    margin-bottom: 1em;
    margin-left: 0;
}

h1 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(104, 209, 119);
}

h2 {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(29, 0, 142);
}

h3 {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: rgb(104, 209, 119);
}

label, #gender, #ficnonfic {
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 0.5em;
    text-align: left;
    display: flex;
}

body #form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1em;
    padding: 1.5em;
    font-family: 'Montserrat', sans-serif;
    max-width: 40em;
    min-width: 16em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

fieldset {
    margin-left: -2em;
}

body #form h1 {
    font-size: 1.5em;
}

body #form p {
    margin-left: -0.25em;
}

body #overview {
    margin-left: -1em;
    margin-right: -1em;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 229, 218);
    padding-top: 1em;
    margin-top: 1em;
    min-width: 16em;
    padding-bottom: 1em;
}

body #overview h1 {
    font-size: 1.5em;
    color: rgb(29, 0, 142);
}

legend {
    font-size: 1.25em;
    color: rgb(29, 0, 142);
    margin-left: 0.7em;
}

input[type=text], [type=date], [type=email], [type=range] {
    font-size: 1em;
    width: 100%;
    padding: 0.5em;
    margin-left: 1em;
    border: 0.09em solid #ccc;
    border-radius: 0.6em;
    font-family: 'Montserrat', sans-serif;
}

[type=color] {
    font-size: 1em;
    width: 40%;
    padding: 0.5em;
    margin-left: 1em;
    border: 0.09em solid #ccc;
    border-radius: 0.6em;
    font-family: 'Montserrat', sans-serif;
    min-height: 3em;
    min-width: 3em;
}

input#zipcode:invalid {
    background-color: red;
}

input#zipcode:valid {
    background-color: green;
}

input[type=radio] {
    padding: 0.5em;
    margin-left: 1.5em;
}

input[type=color] {
    padding: 0;
    margin: 0.5em;
}

input[text]:in-range {
    background-color: green;
}

input[type=submit] {
    background-color: rgb(232, 72, 106);
    color: white;
    border: 0;
    padding: 0.6em 1.6em;
    margin: 1em;
    border-radius: 2em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    box-shadow: 0 0.25em 0 rgb(180, 72, 120);
}

body form fieldset #submit:hover {
    background-color: rgb(300, 72, 106);
}

body form fieldset #submit:active {
    background-color: rgb(300, 72, 106);
    box-shadow: 0 0.15em 0 rgb(180, 72, 120);
    position: relative;
    top: 0.1em;
}

/*Media querie smartphone*/

@media (max-width: 37.5em) {

    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        padding-left: 0;
        height: 7em;
        display: flex;
        padding-top: .5em;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo {
        flex: 1;
    }

    h1 {
        display: none;
    }

    .account {
        margin: 1em;
        flex: 1;
    }

    body #form {
        background-color: rgba(255, 255, 255, 1);
        font-family: 'Montserrat', sans-serif;
        max-width: 40em;
        min-width: 16em;
        margin-right: -1.1em;;
        margin-left: -1.1em;
        padding: 2.5em 2.5em 2.5em 3em;
    }

    body #overview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body header {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        margin-top: 10em;
        background: rgb(250, 229, 218) none;
    }

}

/*Media querie tablet*/

@media (max-width: 62.5em) {

    * {

    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        padding-left: 0;
        height: 7em;
        display: flex;
        padding-top: .5em;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0 .375em .313em 0 rgba(235, 235, 235, 0.54);
    }

    .logo {
        float: left;
        flex: 0;
    }

    h1 {
        flex: 1;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        color: rgb(104, 209, 119);
        margin-top: 0.8em;
        margin-left: 0.5em;
    }

    .account {
        margin: 1em;
        flex: 0;
        float: right;
    }

    body {
        margin-top: 10em;
    }

    /*Media querie desktop*/

}

@media (min-width: 62.5em) {

    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        height: 6.5em;
        display: flex;
        padding-top: .5em;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0 .375em .313em 0 rgba(235, 235, 235, 0.54);
    }

    .logo {
        float: left;
        flex: 0;
    }

    h1 {
        flex: 1;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        color: rgb(104, 209, 119);
        margin-top: 0.8em;
        margin-left: 0.5em;
    }

    .account {
        margin: 1em;
        flex: 0;
        float: right;
    }

    body {
        margin-top: 10em;
    }

}